<article class="posts__item">
  <a href="{{url}}" target="_blank" class="posts__title">{{title}}</a>

  <header class="posts__header">
    <a href="#" class="button">View comments</a>
  </header>
</article>